{% extends 'base.html.twig' %}

{% block title %}Wymień Tarczę{% endblock %}

{% block body %}
<div class="flex-wrapper">
    <div class="basic-form">
        <h1>Wymień tarczę</h1>

        <button type="button" onclick="window.location.href='{{ path('scoreboard', {'id': id}) }}'" class="return-button">Powrót do turnieju</button>
    </div>
</div>
{% endblock %}
