body {
  background: #374b31;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  background: #f9f9f9;
  border: 0.2em outset #000000;
  border-radius: 2em;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.contentBoxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.1em;
}

.contentBoxSingle {
  font-size: 1em;
  max-width: fit-content;
  margin: 0em;
  padding: 0em 3em 2em 3em;
  background: #ffffffaa;
  border: 0.4em double #000000;
  border-radius: 3em;
  box-shadow: 0 5px 5px #000000;
}

.adminInfoBox {
  font-size: 1em;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 0 1em 0 1em ;
  background: #ffffffaa;
  border: 0.1em double #000000;
  border-radius: 0.5em;
}

.cornerBox{
    top:0;
    right:0;
    position: fixed;
    background-color: #228822dd;
    color: white;
    box-shadow: 0 2px 6px #000000;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}
