{% extends 'base.html.twig' %}

{% block title %}Nowy Zawodnik{% endblock %}

{% block body %}
    <h2>Dodaj Zawodnika</h2>

    {{ include('competitor/_form.html.twig') }}

    <a href="{{ path('scoreboard', {'id': tournamentid}) }}">Powrót</a>

{% endblock %}
